body {
	text-align: center;
	background-image: url('https://i.pinimg.com/originals/9a/af/22/9aaf222eb95daf713c85604407af0462.gif');
        background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}
h1{
	font-family: Arial;
	color: #eb4034;
	font-size: 50px;
}

h4{
	font-family: Arial;
	color: #eb4034;
	font-size: 15px;
}

#alinha {
    
}
#alinha ul {
    width:200px;
    height:auto;
    margin:0;
    padding:0;
    display:inline-block;
    font-size: 15px;
}
